.party-chat-user {
  margin: 30px auto;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  border-radius: 14px;
  overflow: hidden;
  outline: 2px solid #0ed8a5b4;

  &:hover {
    .user-controls {
      bottom: 0;
      transition: all 0.9s ease-out;
    }
  }

  .video-wrapper {
    height: 100px;
    width: 100px;
    z-index: 11;
    box-shadow: 0 2px 10px 0 #11111159;
    overflow: hidden;
    position: relative;
    border-radius: 14px;

    img {
      margin: 0 auto;
      height: 100%;
      width: 100%;
      object-fit: contain;
      display: block;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    // &:hover {
    //   cursor: pointer;
    // }

    @media (max-width: 568px) {
      height: 60px;
      width: 60px;
    }
  }

  .screen-video-wrapper {
    height: 100px;
    z-index: 11;
    box-shadow: 0 2px 10px 0 #11111159;
    overflow: hidden;

    img {
      margin: 0 auto;
      height: 100%;
      width: 100%;
      object-fit: contain;
      display: block;
    }

    video {
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 568px) {
      height: 60px;
      width: 60px;
    }

    @media (max-width: 768px) {
      height: 100px;
      width: auto;
    }
  }

  &.video-paused,
  &.no-video {
    .video-wrapper {
      background-color: white;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;

      video {
        display: none;
      }
    }
  }

  &.not-rendered {
    display: none;
  }

  .global-mute {
    display: none;
  }

  .username {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    color: #0ed8a5b4;
    white-space: nowrap;
    font-family: var(--lato);
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .border-lit {
    border: 3px solid var(--lightGreen);
  }

  &:not(.self-user) {
    @media (max-width: 768px) {
      .video-wrapper {
        video {
          object-fit: cover;
        }
      }
    }
  }

  &.self-user {
    video {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);

      /* Safari and Chrome */
      -moz-transform: rotateY(180deg);

      /* Firefox */
    }
  }

  .user-controls {
    flex-direction: column;
    background-color: black;
    border-radius: 8px;
    justify-content: space-evenly;
    display: flex;
    z-index: -1;
    margin-left: -10px;
    position: relative;
    bottom: -200px;
    overflow: hidden;
    transition: all 0.2s ease-out;

    .controls {
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
    }

    .mute-controls {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .right-controls {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 5px;

      & > .spacer {
        height: 5px;
      }
    }

    button {
      z-index: 200;
      width: 40px;
      margin: 0 5px;

      &.mediaOn {
        color: var(--primaryHighlight) !important;
      }

      &.mediaOff {
        color: red !important;
      }

      svg {
        width: 100%;
        height: 100%;
      }

      @media (max-width: 768px) {
        margin: 0;
        padding: 8px;
        border-radius: 50px;
        display: flex;
        place-content: center center;
        width: 30px;
      }
    }

    .audio-slider {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 5px;

      & > span {
        margin: 0 10px;
      }

      :global(.MuiSlider-root) {
        &.slider {
          color: var(--iconButtonSelectedBackground);
          margin-left: 10px;
        }

        :global(.MuiSlider-thumb) {
          background: var(--iconButtonSelectedBackground);
          border-color: var(--iconButtonSelectedBackground);
          width: 16px;
          height: 16px;
          margin-top: -1px;
        }
      }
    }

    @media (max-width: 768px) {
      position: relative;

      .controls {
        display: flex;
      }
    }

    &:hover,
    &:focus {
      display: flex;
      padding: 10px 10px 10px 25px;
      z-index: 10;
      min-width: 150px;
      width: auto;
    }
  }

  @media (min-width: 769px) {
    .audio-slider {
      svg {
        width: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    margin: 10px;
    flex-direction: column;

    .user-controls {
      display: none;
      width: 100%;
      margin: -10px auto 0;
      z-index: 1501;
    }

    &:focus,
    &:focus-within {
      .video-wrapper {
        width: 150px;
        height: 150px;
        border-radius: 0;
        z-index: 1502 !important;
      }

      .user-controls {
        display: flex;
        padding: 20px 10px 10px;
      }
    }
  }

  &.pip {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 330px;

    .video-wrapper {
      flex: 1;
      width: 100%;
      border-radius: 0;
    }

    .user-controls {
      display: flex;
      width: 100% !important;
      margin: 0;
      z-index: 1501 !important;
      border-radius: 0;
      height: 30px;
      position: absolute;
      margin-right: 120px;

      .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 5px;

        .audio-slider {
          margin-top: 0;
        }

        .pipBtn {
          transform: rotate(180deg);
        }
      }

      button {
        margin: 0;
      }
    }
  }

  &.screenpip {
    display: flex;

    .screen-video-wrapper {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    .user-controls {
      visibility: hidden;
      opacity: 0;
      transition:
        visibility 0.2s,
        opacity 0.2s linear;
      display: flex;
      position: absolute;
      width: 100% !important;
      bottom: 0;
      left: 0;
      margin: 0;
      z-index: 1501 !important;
      border-radius: 0;
      height: auto;
      padding: 10px !important;

      .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 5px;

        .audio-slider {
          margin-top: 0;
        }

        .pipBtn {
          transform: rotate(180deg);
        }
      }

      button {
        margin: 0;
      }
    }
  }

  @media (min-width: 769px) {
    .audio-slider {
      svg {
        width: 20px;
      }
    }
  }
}

.resizeable-screen-fullscreen {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  margin: 0;
  padding: 10px;

  div {
    margin: 0;
  }
}

.resizeable-screen-fullscreen > div {
  width: 100% !important;
  height: 100% !important;

  .screen-video-wrapper {
    width: 100vw !important;
    height: 100vh !important;
    line-height: 100vh;
    text-align: center;
    background: black;

    video {
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0 auto;
      vertical-align: middle;
    }
  }
}

.icon-button {
  color: var(--iconButtonColor);
  background: rgb(0 0 0 / 8%);

  &:hover {
    background: rgb(0 0 0 / 15%);
  }
}

.canvas-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.canvas-rotate {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
